<p-panel style="color:#005ea2" header="My Files ({{count}})">
    <p-table #filetable [value]="data" [paginator]="true"
    height="100px" [rows]="1000" [scrollable]="true"
        [showCurrentPageReport]="true"
        [rowHover]="true"
        (sortFunction)="customSort($event)"
        [customSort]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
        [globalFilterFields]="['name']">
        <ng-template pTemplate="header">
            <tr>
                <th pResizableColumn pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                <th pResizableColumn pSortableColumn="usage">Usage <p-sortIcon field="usage"></p-sortIcon></th>
                <th pResizableColumn pSortableColumn="file_count">File Count<p-sortIcon field="file_count"></p-sortIcon></th>
                <th pResizableColumn pSortableColumn="last_modified"> Last Modified
                    <p-columnFilter title="Filter by date" type="date" field="last_modified" display="menu"></p-columnFilter>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="caption">
            <div class="filter">
                <span class="p-input-icon-right ml-auto" style="margin-right: 2%;">
                    <input pInputText type="text" (input)="filetable.filterGlobal($any($event.target).value, 'contains')" placeholder="Search keyword" />
                </span>
                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(filetable)"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td class="td-class"><a href={{item.location}} target="_blank">{{item.name}}</a></td>
                <td class="td-class">{{item.usage}}</td>
                <td class="td-class">{{item.file_count}}</td>
                <td>{{this.datepipe.transform(item.last_modified,'MM/dd/yyyy')}}</td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>


