<p-panel header="My Files ({{count}})">
    <ng-template pTemplate="icons">
        <button pButton class="p-panel-header-icon p-link" (click)="titleClick()">
            <!-- <span class="pi pi-cog"></span> -->
            <a href={{nextcloudUI}} target="_blank"><fa-icon [style]="{display: 'inline-block', padding: '5px', color: 'grey'}" [icon]="faFileImport" size="lg" title="Add or update files"></fa-icon></a>
        </button>
        <p-toast></p-toast>
        <!-- <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu> -->
</ng-template>
    
    <p-table #filetable [value]="data" [paginator]="true"
    height="100px" [rows]="1000" [scrollable]="true"
        [showCurrentPageReport]="true"
        [rowHover]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
        [rowsPerPageOptions]="[5]" [globalFilterFields]="['file_name', 'file_path']">
        <ng-template pTemplate="header">
            <tr>
                <th pResizableColumn pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                <th pResizableColumn pSortableColumn="owner">Owner <p-sortIcon field="owner"></p-sortIcon></th>
                <th pResizableColumn pSortableColumn="access">Allowed Access <p-sortIcon field="access"></p-sortIcon></th>
                <th pResizableColumn pSortableColumn="space_used">Total Space Used <p-sortIcon field="space_used"></p-sortIcon></th>
                <th pResizableColumn pSortableColumn="files_associated_count">Total number of data files <p-sortIcon field="files_associated_count"></p-sortIcon></th>
                <th pResizableColumn pSortableColumn="last_modified"> Last Modified
                    <p-columnFilter title="Filter by date" type="date" field="last_modified" display="menu"></p-columnFilter>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="caption">
            <div class="filter">
                <span class="p-input-icon-right ml-auto" style="margin-right: 2%;">
                    <input pInputText type="text" (input)="filetable.filterGlobal($any($event.target).value, 'contains')" placeholder="Search keyword" />
                </span>
                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(filetable)"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td class="td-class">{{item.name}}</td>
                <td class="td-class">{{item.owner}}</td>
                <td class="td-class">{{item.access}}</td>
                <td class="td-class">{{item.space_used}}</td>
                <td class="td-class">{{item.files_associated_count}}</td>
                <td>{{this.datepipe.transform(item.last_modified,'MM/dd/yyyy')}}</td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>


