<p-panel style="color:#005ea2" header="My Data Publications">
    <ng-template pTemplate="icons">
        <button pButton class="p-panel-header-icon p-link">
            <a href="{{dapUI}}" target="_blank"><fa-icon
                    [style]="{display: 'inline-block', padding: '5px', color: '#495057'}" [icon]="faFileEdit" size="lg"
                    title="Create New Record"></fa-icon></a>
        </button>
        <p-toast></p-toast>
        <button pButton class="p-panel-header-icon p-link" (click)="show()"><fa-icon
                [style]="{display: 'inline-block', color: '#005EA2'}" [icon]="faUpRightAndDownLeftFromCenter" size="lg"
                title="Expand"></fa-icon></button>
    </ng-template>
    <p-table #recordsTable name="recordtable" [value]="DAP" [paginator]="true" height="100px" [rows]="4"
        [scrollable]="true" [showCurrentPageReport]="true" [rowHover]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['name', 'owner']">
        <ng-template pTemplate="header">
            <tr>
                <th pResizableColumn pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon></th>
                <th pResizableColumn pSortableColumn="owner">Owner<p-sortIcon field="owner"></p-sortIcon></th>
                <th pResizableColumn>
                    <p-columnFilter field="status.state" matchMode="equals" [showMenu]="false"
                        [showClearButton]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)"
                                placeholder="State" [showClear]="true">
                                <ng-template let-option pTemplate="item">
                                    {{option.value}}
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <th pResizableColumn>Last Modified
                    <p-columnFilter title="Filter by date" type="date" field="status.modifiedDate"
                        display="Date"></p-columnFilter>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td><a href={{linkto(item.id)}} target="_blank">{{item.name}}</a></td>
                <td>{{item.owner}}</td>
                <td class="td-class"><p-tag [value]="item.state" [severity]="getStatus(item.state)"></p-tag></td>
                <td class="td-class">{{this.datepipe.transform(item.modifiedDate,'MM/dd/yyyy')}}</td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>