h3 {
    margin: 0;
}

.config-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-top: 8px !important;
}

.full-width,
mat-form-field.full-width {
    width: 100%;
}

::ng-deep .mat-dialog-container {
    padding: 24px;
    max-width: none;
}

.spacer {
    flex: 1 1 auto;
}