<p-panel [style]="{color:'#005ea2'}" header="My Publication Files" pTooltip="Data file workspaces attached to data publications for uploading and
organizing data files." tooltipPosition="top">
    
    <ng-template pTemplate="icons">
        
<button pButton class="p-panel-header-icon p-link" (click)="show()"><fa-icon [style]="{display: 'inline-block', color: '#005EA2'}" [icon]="faUpRightAndDownLeftFromCenter" size="lg" title="Expand"></fa-icon></button>
        <!-- <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu> -->
</ng-template>
    
    <p-table #filetable [value]="DAP" [paginator]="true"
        [rows]="5" [scrollable]="true" 
        [showCurrentPageReport]="true"
        [rowHover]="true"
        (sortFunction)="customSort($event)"
        [customSort]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
        [globalFilterFields]="['file_name', 'file_path']">
        <ng-template pTemplate="header">
            <tr>
                <th pResizableColumn pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                <th pResizableColumn pSortableColumn="usage">Usage<p-sortIcon field="usage"></p-sortIcon></th>
                <th pResizableColumn pSortableColumn="file_count">File Count<p-sortIcon field="file_count"></p-sortIcon></th>
                <th pResizableColumn pSortableColumn="last_modified"> Last Modified
                    <p-columnFilter title="Filter by date" type="date" field="last_modified" display="menu"></p-columnFilter>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td class="td-class"><a href={{item.location}} target="_blank">{{item.name}}</a></td>
                <td class="td-class">{{item.usage}}</td>
                <td class="td-class">{{item.file_count}}</td>
                <td>{{ item.last_modified ? (item.last_modified | date: 'MM/dd/yyyy') : 'N/A' }}</td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>




