<!-- ──────────────────────────────────────────────────────
     Sticky application heade
────────────────────────────────────────────────────── -->
<div class="header-container">
    <div class="logo-container" (click)="goHome()">
      <img
        class="logo-img"
        src="assets/images/nist_logo_reverse.png"
        alt="NIST Science Data Portal"
        title="NIST Science Data Portal" />
      <div class="logo-text-block">
        <div class="logo-text">{{ title_line01 }}</div>
        <div class="logo-text">{{ title_line02 }}</div>
      </div>
      <div class="badge">{{ appVersion }}</div>
    </div>
  </div>
  