<mat-card>
    <mat-card-title><a (click)="titleClick()"><b>My Records</b></a><a href="#"> (add new)</a></mat-card-title>
    <mat-card-content>
        <mat-table mat-table [dataSource]="dataSource" matSort class="edi-list">
            <ng-container matColumnDef="title">
                <th mat-header-cell mat-sort-header="title" *matHeaderCellDef> Title </th>
                <td mat-cell *matCellDef="let item"> {{item.title}} </td>
            </ng-container>
            <ng-container matColumnDef="owner">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Owner </th>
                <td mat-cell *matCellDef="let item"> {{item.owner}} </td>
            </ng-container>
            <ng-container matColumnDef="lastmodified">
                <th mat-header-cell mat-sort-header *matHeaderCellDef> Date Last Modified </th>
                <td mat-cell *matCellDef="let item"> {{item.lastmodified}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </mat-table>
    </mat-card-content>
    <mat-card-footer>
        <mat-paginator [pageSizeOptions]="[5]"
            showFirstLastButtons 
            aria-label="Select page">
        </mat-paginator>
    </mat-card-footer>
</mat-card>