<p-panel [style]="{color:'#005ea2'}" header="My Data Management Plans ({{count}})">
    <ng-template pTemplate="icons">
        <button pButton class="p-panel-header-icon p-link">
            <a href={{dmpUI}} target="blank"><fa-icon
                    [style]="{display: 'inline-block', padding: '5px', color: '#495057'}" [icon]="faFileEdit" size="lg"
                    title="Create New Data management plan"></fa-icon> </a>
        </button>
        <p-toast></p-toast>
        <!-- <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu> -->
    </ng-template>
    <p-table #dmptable [value]="data" [paginator]="true" height="100px" [rows]="1000" [scrollable]="true"
        [showCurrentPageReport]="true" dataKey="name" [rowHover]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['name', 'owner','nist']">
        <ng-template pTemplate="header">
            <tr>
                <th pResizableColumn pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon></th>
                <th pResizableColumn pSortableColumn="owner">Owner<p-sortIcon field="owner"></p-sortIcon></th>
                <th pResizable pSortableColumn="">Operating Unit Field</th>
                <th pResizableColumn pSortableColumn="nist">Primary NIST Contact<p-sortIcon field="nist"></p-sortIcon>
                </th>
                <th pResizableColumn>Last Modified
                    <p-columnFilter title="Filter by date" type="date" field="status.modifiedDate"
                        display="menu"></p-columnFilter>
                </th>
                <th style="max-width:150px"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="caption">
            <div class="filter">
                <span class="p-input-icon-right ml-auto" style="margin-right: 2%;">
                    <input pInputText type="text" (input)="dmptable.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Search keyword" />
                </span>
                <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                    (click)="clear(dmptable)"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="body" let-item let-expanded="expanded">
            <tr>
                <td><a href={{linkto(item.id)}} target="_blank">{{item.name}}</a></td>
                <td>{{item.owner}}</td>
                <td>{{item.orgid}}</td>
                <td>{{item.primaryContact}}</td>
                <td>{{this.datepipe.transform(item.modifiedDate,'MM/dd/yyyy')}}</td>
                <td style="max-width:150px">
                    <button type="button" pButton pRipple [pRowToggler]="item"
                        class="p-button-text p-button-rounded p-button-plain"
                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" label="See More"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-item>
            <tr>
                <div class="p-3">
                    <td colspan="3"><strong>Description:</strong> {{item.description}}</td>
                </div>
            </tr>
        </ng-template>
    </p-table>
</p-panel>