<ng-container *ngIf="item().subItems; else noSubItems">
  <!-- Parent with subItems: just a clickable div or button to toggle -->
  <a mat-list-item href="#" (click)="toggleNestedMenu(); $event.preventDefault()" class="menu-item">
    <mat-icon matListItemIcon>
      {{ item().icon }}
    </mat-icon>
    <span matListItemTitle *ngIf="!collapsed()">
      {{ item().name }}
    </span>
    <span matListItemMeta *ngIf="!collapsed()">
      <mat-icon>
        {{ nestedMenuOpened() ? 'expand_less' : 'expand_more' }}
      </mat-icon>
    </span>
  </a>
  <!-- Sub-items -->
  <ng-container *ngIf="nestedMenuOpened() && !collapsed()">
    <div *ngFor="let subItem of item().subItems">
      <ng-container *ngIf="isInternalRoute(subItem); else subExternalLink">
        <a mat-list-item [routerLink]="subItem.link" (click)="setActive(subItem)"
          [activated]="subItem === activeItem" class="menu-item" [class.indented]="!collapsed()">
          <mat-icon matListItemIcon [fontSet]="subItem === activeItem ? 'material-icons' : 'material-icons-outlined'">
            {{ subItem.icon }}
          </mat-icon>
          <span matListItemTitle *ngIf="!collapsed()">
            {{ subItem.name }}
          </span>
        </a>
      </ng-container>
      <ng-template #subExternalLink>
        <a mat-list-item [href]="subItem.link" target="_blank" rel="noopener" (click)="setActive(subItem)"
          [activated]="subItem === activeItem" class="menu-item" [class.indented]="!collapsed()">
          <mat-icon matListItemIcon [fontSet]="subItem === activeItem ? 'material-icons' : 'material-icons-outlined'">
            {{ subItem.icon }}
          </mat-icon>
          <span matListItemTitle *ngIf="!collapsed()">
            {{ subItem.name }}
          </span>
        </a>
      </ng-template>
    </div>
  </ng-container>
</ng-container>
<ng-template #noSubItems>
  <!-- Leaf node: internal or external link -->
  <ng-container *ngIf="isInternalRoute(item()); else externalLink">
    <a mat-list-item [routerLink]="item().link" routerLinkActive="selected-menu-item" #rla="routerLinkActive"
      [activated]="rla.isActive" class="menu-item">
      <mat-icon matListItemIcon [fontSet]="rla.isActive ? 'material-icons' : 'material-icons-outlined'">
        {{ item().icon }}
      </mat-icon>
      <span matListItemTitle *ngIf="!collapsed()">
        {{ item().name }}
      </span>
    </a>
  </ng-container>
  <ng-template #externalLink>
    <a mat-list-item [href]="item().link" target="_blank" rel="noopener" class="menu-item">
      <mat-icon matListItemIcon>
        {{ item().icon }}
      </mat-icon>
      <span matListItemTitle *ngIf="!collapsed()">
        {{ item().name }}
      </span>
    </a>
  </ng-template>
</ng-template>