<button mat-icon-button class="close-button" (click)="showOptions.set(false)">
    <mat-icon>close</mat-icon>
</button>

<!-- Dynamic Width Options -->
<div>
    <span class="material-symbols-outlined">
        arrow_range
    </span>
    <mat-button-toggle-group hideSingleSelectionIndicator [value]="data().columns ?? 1"
        (change)="store.updateWidget(data().id, {columns: +$event.value})">
        @for (col of columnOptions(); track col) {
            <mat-button-toggle [value]="col">{{ col }}</mat-button-toggle>
        }
    </mat-button-toggle-group>
</div>

<!-- Dynamic Height Options -->
<div>
    <span class="material-symbols-outlined">
        height
    </span>
    <mat-button-toggle-group hideSingleSelectionIndicator [value]="data().rows ?? 1"
        (change)="store.updateWidget(data().id, {rows: +$event.value})">
        @for (row of rowOptions(); track row) {
            <mat-button-toggle [value]="row">{{ row }}</mat-button-toggle>
        }
    </mat-button-toggle-group>
</div>

<button mat-icon-button class="move-forward-button" (click)="store.moveWidgetRight(data().id)">
    <mat-icon>chevron_right</mat-icon>
</button>

<button mat-icon-button class="move-backward-button" (click)="store.moveWidgetLeft(data().id)">
    <mat-icon>chevron_left</mat-icon>
</button>

<button mat-icon-button class="remove-widget-button" (click)="store.removeWidget(data().id)">
    <span class="material-symbols-outlined">
        delete
    </span>
</button>