<!-- notification-card.component.html -->
<div class="cards-container">

    <div class="cards-container-content">
        <div class="notification-card">
            <div class="icon-column">
                <span class="material-symbols-outlined icon">
                    contract_edit
                </span>
            </div>
            <div class="content">
                <div class="message">
                    You can have <strong>1 pending review.</strong>
                </div>
                <button mat-stroked-button class="dismiss-button" aria-label="Dismiss notification">
                    Dismiss
                </button>
            </div>
        </div>

        <div class="notification-card shadow-sm">
            <div class="icon-column">
                <span class="material-symbols-outlined icon">
                    newsmode
                </span>
            </div>
            <div class="content">
                <div class="message">
                    You can have <strong>2 new publications.</strong>
                </div>
                <button mat-stroked-button class="dismiss-button primary" aria-label="Dismiss notification">
                    Dismiss
                </button>
            </div>
        </div>

        <div class="notification-card shadow-sm">
            <div class="icon-column">
                <span class="material-symbols-outlined icon">
                    overview
                </span>
            </div>
            <div class="content">
                <div class="message">
                    Status change: <strong>2 publications </strong>have been updated.
                </div>
                <button mat-stroked-button class="dismiss-button primary" aria-label="Dismiss notification">
                    Dismiss
                </button>
            </div>
        </div>
        <div class="notification-card shadow-sm">
            <div class="icon-column">
                <span class="material-symbols-outlined icon">
                    overview
                </span>
            </div>
            <div class="content">
                <div class="message">
                    Status change: <strong>2 publications </strong>have been updated.
                </div>
                <button mat-stroked-button class="dismiss-button primary" aria-label="Dismiss notification">
                    Dismiss
                </button>
            </div>
        </div>
        <div class="notification-card shadow-sm">
            <div class="icon-column">
                <span class="material-symbols-outlined icon">
                    overview
                </span>
            </div>
            <div class="content">
                <div class="message">
                    Status change: <strong>2 publications </strong>have been updated.
                </div>
                <button mat-stroked-button class="dismiss-button primary" aria-label="Dismiss notification">
                    Dismiss
                </button>
            </div>
        </div>
        <div class="notification-card shadow-sm">
            <div class="icon-column">
                <span class="material-symbols-outlined icon">
                    overview
                </span>
            </div>
            <div class="content">
                <div class="message">
                    Status change: <strong>2 publications </strong>have been updated.
                </div>
                <button mat-stroked-button class="dismiss-button primary" aria-label="Dismiss notification">
                    Dismiss
                </button>
            </div>
        </div>
        
        
    </div>
    <div class="cards-container-footer">
        <button mat-flat-button color="primary" class="pill-button" (click)="clearAll()">
            <!-- <mat-icon>delete</mat-icon> -->
            Dismiss All
        </button>
    </div>
</div>