/* .file-list {
    display: block;
    background: #fff;
    border-radius: 10px;
    border: black;
    padding: 10px;
    border: 1;
    width: 100%;
}

.file-list.table {
    padding: 50;
} */

mat-table {
    border: solid 1px #000;
}

.file-list.mat-table {
    width: 100%;
}