<div class="file-list" fxLayout="row" fxLayoutAlign="center center">
    <mat-card>
        <mat-card-title><a (click)="titleClick()">My Files</a></mat-card-title>
        <mat-card-content class="scroll">
            <table mat-table [dataSource]="this.data" matSort>
                <ng-container matColumnDef="title">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef> Title </th>
                    <td mat-cell *matCellDef="let item"> {{item.title}} </td>
                </ng-container>
                <ng-container matColumnDef="publisher">
                    <th mat-header-cell *matHeaderCellDef> Current Reviewer </th>
                    <td mat-cell *matCellDef="let item"> {{item.publisher.name}} </td>
                </ng-container>
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Last Action Date </th>
                    <td mat-cell *matCellDef="let item"> {{item.modified}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card-content>
    </mat-card>
</div>