<div class="container mat-elevation-z3"
     [style.background-color]="data().backgroundColor ?? 'white'"
     [style.color]="data().textColor ?? 'inherit'"
     cdkDrag
     [cdkDragDisabled]="dragDisabled"
     cdkDragPreviewContainer="parent"
     [attr.data-tour]="getDataTourAttribute()">
     
  <h3 class="" style="margin: 8px 0px;">{{ data().longLabel }}</h3>
  <button mat-icon-button class="settings-button" (click)="showOptions.set(true)"
    [style.--mdc-icon-button-icon-color]="data().textColor ?? 'inherit'" data-tour="widget-settings">
    <mat-icon>settings</mat-icon>
  </button>

  <button mat-icon-button
          *ngIf="isTableWidget"
          class="expand-button"
          (click)="expandTable()"
          aria-label="Expand table to full view"
          matTooltip="Expand"
          [style.--mdc-icon-button-icon-color]="data().textColor ?? 'inherit'">
    <mat-icon>open_in_full</mat-icon>
  </button>

  <div class="widget-content">
    <ng-container 
    [ngComponentOutlet]="data().content"
    [ngComponentOutletInputs]="getWidgetInputs()">
  </ng-container>
  </div>

  <app-widget-options *ngIf="showOptions()" [(showOptions)]="showOptions" [data]="data()">
  </app-widget-options>
  <div *cdkDragPlaceholder></div>
</div>