<div class="container">
  <div class="notice-header" [attr.data-status]="maintenanceInfo().status">
    <span class="title-content">
      <mat-icon 
        class="status-icon" 
        [ngClass]="'icon-' + noticeConfig().color"
        aria-hidden="true">
        {{ noticeConfig().icon }}
      </mat-icon>
      {{ noticeConfig().title }}
    </span>
  </div>

  <mat-dialog-content class="maintenance-content">
    <div [innerHTML]="infoHtml()"></div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close [color]="noticeConfig().color">
      Close
    </button>
  </mat-dialog-actions>
</div>