
<p-panel header="My Reviews">
    <ng-template pTemplate="icons">
        <button pButton class="p-panel-header-icon p-link" (click)="titleClick()">
            <!-- <span class="pi pi-cog"></span> -->
            <fa-icon [style]="{display: 'inline-block', padding: '5px', color: 'orange'}" [icon]="faBell" size="lg" title="You have new Records to review."></fa-icon>
       
        </button>
        <button pButton class="p-panel-header-icon p-link" (click)="titleClick()">
            <!-- <span class="pi pi-cog"></span> -->
            <a href={{npsUI}} target="_blank"><fa-icon [style]="{display: 'inline-block', padding: '5px', color: 'grey'}" [icon]="faListCheck" size="lg" title="Check Reviews"></fa-icon></a>
       
        </button>
        
        <!-- <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu> -->
</ng-template>
<div class="">
    <p-table #reviewtable class="overflow-auto" [loading]="loading" [rowHover]="true"[value]="data"
        [paginator]="true" [rows]="5" [scrollable]="true"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
        [rowsPerPageOptions]="[5]" [globalFilterFields]="['title', 'submitterName', 'currentReviewer']">
        <ng-template pTemplate="header">
            <tr>
                <th pResizableColumn>Title</th>
                <th pResizableColumn>Owner</th>
                <th pResizableColumn>Current Reviewer</th>
                <th pResizableColumn>Status</th>
                <th pResizableColumn>Deadline</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr class="tr-class">
                <td class="td-class">{{item.title}}</td>
                <td class="td-class">{{item.owner}}</td>
                <td class="td-class">{{item.reviewer}}</td>
                <td class="td-class"><p-tag [value]="item.status" [severity]="getStatus(item.status)"></p-tag></td>
                <td class="td-class">{{item.deadline}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
</p-panel>
