:host ::ng-deep .p-panel-header
{
  background: #d9e8f6;
  border: 1px solid #908e8e;
}

.td-class {
  word-wrap: break-word;
  word-break: break-all;
  white-space: normal;
}

.filter{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
}