.table-dashboard{
    padding-bottom: 1%;
    height: auto;
}

:host ::ng-deep .p-panel-header
{
  background: #EFF6FB;
  border: 1px solid #005ea2;
  padding: 0.2rem;
  color:#005ea2;
}

:host ::ng-deep .p-dialog-header{
    padding:0.3rem;
}

:host ::ng-deep .p-panel-content
{
  padding: 0.5rem;
}

:host ::ng-deep .p-paginator-bottom
{
  padding: 0.2rem;
}

:host ::ng-deep .p-datatable-tbody > tr > td {
  padding: 0.3rem;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th 
{
  padding: 0.3rem;
}

:host ::ng-deep .p-datatable .p-datatable-header{
    padding:0.5rem 0.5rem;
}




/* Separators */
.sidebar-separator-title {
    background-color: #005ea2;
    height: 50px;
    color: #fff;

}

.nav-item {
    display: flex;
    align-items: flex-start; /* Center items vertically */
    position: relative;
    flex-direction: column;
}

  .sidebar-icon{
    position: absolute;
    right: 0;
    padding: 5px; /* Adjust padding as needed */
  }

  .sidebar-landing{
    background-color:#eff6fb;
    width: 200px;
    min-height: 100vh;
    transition: width 0.3s ease;
  }

    /* Sidebar collapsed state */
  .sidebar-landing.collapsed {
    width: 60px; /* Adjust as needed */
    transition: width 0.3s ease;
  }



  .nav-link-sub{
    color:#005ea2;
    padding-left:10px;
  }

  .nav-link-sub:hover{
    background-color:#005ea2;
    color: white; /* Change text color on hover */
  }

  /* Hide the content inside the sidebar when collapsed */
.sidebar-landing.collapsed .d-flex {
  visibility: hidden; /* Hide the content */
  opacity: 0; /* Smoothly fade out the content */
  transition: opacity 0.3s ease;
}

/* Show the content when the sidebar is expanded */
.sidebar-landing .d-flex {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease;
}

/* Sidebar collapsed state */
.sidebar-landing.collapsed {
  width: 60px; /* Adjust as needed */
  transition: width 0.3s ease;
}

/* Hide all sidebar content except the faMagnifyingGlass icon */
.sidebar-landing.collapsed .sidebar-content {
  display: none; /* Hide all other content */
}

/* Ensure the faMagnifyingGlass icon remains visible */
.sidebar-landing.collapsed .fa-magnifying-glass {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}

/* Sidebar expanded state */
.sidebar-landing .sidebar-content {
  display: block; /* Show content when expanded */
}

/* Smooth transitions for visibility */
.sidebar-landing .sidebar-content,
.sidebar-landing.collapsed .fa-magnifying-glass {
  transition: opacity 0.3s ease, visibility 0.3s ease;
}


  .nav-link{
    color:#005ea2;
  }

  .nav-link:hover{
    color: white; /* Change text color on hover */
  }
  .nav-item:hover {
  /* Add your hover styles here */
  background-color: #005ea24d; /* Change background color on hover */
  color:white;
  
}

.nav-item:hover .nav-link {
    color: white;

}

.simple:hover .nav-link {
  font-style: italic;
  font-weight: bold;
}



/* Define styles for the default state of the anchor tag inside the list item */
.nav-item > ul > li > a:hover {
  /* Add your hover styles here */
  text-decoration: none; /* Remove underline on hover */
  color: white; /* Change text color on hover */
  font-style: italic;
  font-weight: bold;
}




.Menu-Title{
    color:#EFF6FB;
   /* padding-left: 1.5rem;
    padding-right: 1.5rem;*/
    size: 3rem;
    font-size:19px;
}

.links{
    padding-left:20px;
    color: #005EA2;
    background: #EFF6FB;
    border: none;
}
.links:hover{

    background-color: #005EA2;
    color: #EFF6FB;

}



@media (max-width: 768px) {
  .sidebar-landing {
      display: none;
  }
  
}


