
<!-- Bootstrap row -->
<div class="row">
  <!-- Sidebar -->
  <p-toast></p-toast>
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-0 sidebar-landing">
            <div class="d-flex flex-column align-items-center align-items-sm-start">
              <li class="list-group-header col-12 sidebar-separator-title d-flex align-items-center menu-collapsed">
                <span class="Menu-Title"><fa-icon [style]="{display: 'inline-block', padding: '3px', color: 'white'}" [icon]="faLink"></fa-icon>Resource/links</span >
            </li>
                <ul class="nav flex-column align-items-center align-items-sm-start w-100" id="menu">
                    <li class="nav-item w-100">
                      <a href="https://inet.nist.gov/mr/library/midas-user-guides" target="_blank" class="nav-link align-middle ">
                          <span class="ms-1 d-none d-sm-inline">User Guide</span>
                      </a>
                    </li>
                    <li class="nav-item w-100">
                        <a href="#submenu1" (click)="toggleSubmenu()" data-bs-toggle="collapse" class="nav-link align-middle">
                            <span class="ms-1 d-none d-sm-inline">MIDAS Tools</span>
                            <fa-icon class="sidebar-icon" [icon]="submenuCollapsed ? faSquareCaretDown : faSquareCaretUp"></fa-icon>
                           </a>
                        <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="nav-link-sub pl-1">
                                <a href="https://inet.nist.gov/mr/library/midas-user-guides/midas-components/data-management-plans"  target="_blank" class="list-group-item list-group-item-action links" > <span class="d-none d-sm-inline sidebar-span">Data Management Plans</span></a>
                            </li>
                            <li class="nav-link-sub pl-1">
                                <a href="https://inet.nist.gov/mr/library/midas-user-guides/midas-components/digital-asset-publisher-dap" target="_blank" class="list-group-item list-group-item-action links"> <span class="d-none d-sm-inline sidebar-span">Digital Asset Publishing</span></a>
                            </li>
                            <li class="nav-link-sub pl-1">
                              <a href="https://inet.nist.gov/mr/library/midas-user-guides/midas-components/file-manager" target="_blank" class="list-group-item list-group-item-action links"> <span class="d-none d-sm-inline sidebar-span">Management Files</span></a>
                            </li>
                            <li class="nav-link-sub pl-1">
                              <a href="https://inet.nist.gov/mr/library/midas-user-guides/midas-components/data-review-system" target="_blank" class="list-group-item list-group-item-action links"> <span class="d-none d-sm-inline sidebar-span">Data/Code Review</span></a>
                            </li>
                            <li class="nav-link-sub pl-1">
                              <a href="https://inet.nist.gov/mr/library/midas-user-guides/midas-tools/reports" target="_blank" class="list-group-item list-group-item-action links"> <span class="d-none d-sm-inline sidebar-span">Reports</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item w-100">
                      <a href="https://inet.nist.gov/lp/adlp/open-access-research-oar" target="_blank" class="nav-link align-middle ">
                          <span class="ms-1 d-none d-sm-inline">Open Access INET</span>
                      </a>
                  </li>
                  <li class="nav-item w-100">
                    <a href="https://data.nist.gov"  target="_blank" class="nav-link align-middle ">
                        <span class="ms-1 d-none d-sm-inline">Public Data Portal</span>
                    </a>
                  </li>
                  <li class="nav-item w-100">
                    <a href="https://inet.nist.gov/adlp/open-access-research-oar/publishing-instructions"  target="_blank" class="nav-link align-middle ">
                        <span class="ms-1 d-none d-sm-inline">Data policy</span>
                    </a>
                  </li>
                  <li class="nav-item w-100">
                    <a href="https://inet.nist.gov/mr/library/publishing-support-nist-publications"  target="_blank" class="nav-link align-middle ">
                        <span class="ms-1 d-none d-sm-inline">User Support</span>
                    </a>
                  </li>
                </ul>
                <hr>
            </div>
        </div>
        <div class="col p-4">
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="table-dashboard">
                <app-dap [authToken]="authToken"></app-dap>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="table-dashboard">
                <app-dmp-list [authToken]="authToken"></app-dmp-list>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="table-dashboard">
                <app-review-list [authToken]="authToken" [userId]="userId"></app-review-list>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
              <div class="table-dashboard">
                <app-file-list [authToken]="authToken" ></app-file-list>
              </div>
            </div>
          </div>
          
        </div><!-- Main Col END -->
    
</div>
  <!-- MAIN -->
  
</div><!-- body-row END -->
