
<div class="dmp">
<p-panel header="My Data Management Plans">
    <ng-template pTemplate="icons">
        <button pButton class="p-panel-header-icon p-link" (click)="titleClick()" >
            <fa-icon [style]="{display: 'inline-block', padding: '5px', color: 'green'}" [icon]="faCheck" size="lg" title="All DMPs completed."></fa-icon> 
        </button>
        <button pButton class="p-panel-header-icon p-link" (click)="titleClick()">
            <a href={{dmpUI}} target="blank"><fa-icon [style]="{display: 'inline-block', padding: '5px', color: 'grey'}" [icon]="faFileEdit" size="lg" title="Create New Data management plan"></fa-icon> </a>
        </button>
        <!-- <p-menu #menu id="config_menu" [model]="items" [popup]="true"></p-menu> -->
</ng-template>
<div class="overflow-auto">
    <p-table #dmptable class="overflow-auto" [value]="data" [paginator]="true" height="100px" [rows]="2" [scrollable]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
        [rowsPerPageOptions]="[2]" [globalFilterFields]="['name', 'owner']">
        <ng-template pTemplate="header">
            <tr>
                <th pResizableColumn>Name</th>
                <th pResizableColumn>Owner</th>
                <th pResizableColumn>Last Modified</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.owner}}</td>
                <td>{{item.status.modifiedDate}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
</p-panel>
    
</div>