<p-tabView header="Header 1">
    <p-tabPanel header="Search Results for '{{searchTerm}}'">
        <div class=" bg-light p-2 d-flex justify-content-start">
            <input #box type="text" class="form-control" pInputText value="{{searchTerm }}" (keyup.enter)="search(box.value)">
            <button pButton class="custom-button" (click)="onSearchClick()"><fa-icon [style]="{display: 'inline-block', padding: '3px', color: 'white'}" [icon]="faMagnifyingGlass"></fa-icon>Search</button>
        </div>
        <p-panel header="Advanced Search" class="advanced-search-panel" [toggleable]="true" [collapsed]="isAdvancedSearchCollapsed" (onToggle)="toggleAdvancedSearch()">
            <div class="custom-radio-button">
            <label for="Resource Type"  style="margin-right:5px" title="Are you looking for DAP, DMP or both ?">Resource Type:</label>
            <p-radioButton label="DMP" name="resourceType" value="dmp" [(ngModel)]="resourceType"
                inputId="dmp" (change)="onresourceTypeChange($event)" pTooltip="look for Data Management Plans"></p-radioButton> &nbsp;
            <p-radioButton label="DAP" name="resourceType" value="dap" [(ngModel)]="resourceType"
                inputId="dap" (change)="onresourceTypeChange($event)" pTooltip="look for Data Publication"></p-radioButton> &nbsp;                
            <p-radioButton label="Both" name="resourceType" value="both" [(ngModel)]="resourceType"
                inputId="both" (change)="onresourceTypeChange($event)" pTooltip="look for both DAP & DMP"></p-radioButton> &nbsp; <br/>
            </div>
            <div class="form-group custom-input-box">
                <div class="custom-sub-input">
                    <label for="keywords" class="form-label" title="Enter keywords for search">Keywords:</label>
                    <input type="text" pInputText [(ngModel)]="keywords" id="keywords" pTooltip="Keywords for records" class="form-control">
                </div>
            
                <div class="custom-sub-input">
                    <label for="theme" class="form-label">Theme:</label>
                    <input type="text" pInputText [(ngModel)]="theme" id="theme" pTooltip="Theme for records" class="form-control">
                </div>
            
                <div class="custom-sub-input">
                    <label for="selectedOrg" class="form-label">NIST Organization:</label>
                    <p-autoComplete [suggestions]="orgSuggestions" [(ngModel)]="selectedOrg" pTooltip="Look for the ORG ID" field="ORG_NAME"
                        optionLabel="ORG_NAME" placeholder="Select an organization"
                        (completeMethod)="getOrgs($event)"></p-autoComplete>
                </div>
            
                <div class="custom-sub-input">
                    <label for="recordOwner" class="form-label">Record Owner:</label>
                    <p-autoComplete [(ngModel)]="recordOwner" [suggestions]="suggestions" pTooltip="Search by owner of the record" field="FULL_NAME"
                        (completeMethod)="getPeople($event)"></p-autoComplete>
                </div>
            
                <div class="custom-sub-input">
                    <label for="publishedBefore" class="form-label">Last modified before:</label>
                    <p-calendar [(ngModel)]="publishedBefore" [showIcon]="true" [appendTo]="'body'" pTooltip="Records modified after that date"></p-calendar>
                </div>
            
                <div class="custom-sub-input">
                    <label for="publishedAfter" class="form-label">Last modified after:</label>
                    <p-calendar [(ngModel)]="publishedAfter" [showIcon]="true" [appendTo]="'body'" pTooltip="Records modified before that date"></p-calendar>
                </div>
            </div>
            <div class="custom-radio-button">
            <label for="Process Status"  style="margin-right:5px">Process Status:</label>
            <p-radioButton name="status"  value="edit" label="Editing" [(ngModel)]="status" inputId="edit" pTooltip="Records still edited"></p-radioButton>&nbsp;&nbsp;
            <p-radioButton name="status"  value="processing" label="Processing" [(ngModel)]="status" inputId="processing" pTooltip="Records under processing"></p-radioButton>&nbsp;&nbsp;
            <p-radioButton name="status"  value="submitted" label="Submitted" [(ngModel)]="status" inputId="submitted" pTooltip="Submitted records"></p-radioButton>&nbsp;&nbsp;
            <p-radioButton name="status"  value="published" label="Published" [(ngModel)]="status" inputId="published" pTooltip="Published records"></p-radioButton>&nbsp;&nbsp;
            </div>
            Associated Paper Publication? &nbsp; &nbsp; <input type="checkbox"><p-checkbox name="paper" value="true"
                [(ngModel)]="paper" ngDefaultControl></p-checkbox>
        </p-panel>
        <p-panel header="Exports" [toggleable]="true" [collapsed]="true">
            <br />
            Output: &nbsp; &nbsp;
            <p-radioButton label="JSON" name="outputType" value="json" [(ngModel)]="outputType"
                inputId="outputJSON" (change)="onOutputTypeChange($event)" [disabled]="resourceType === 'both'" pTooltip="Exports records in the native JSON format.(Only DAP or DMP)" tooltipPosition="top" ></p-radioButton> &nbsp;
            <p-radioButton label="CSV" name="outputType" value="csv" [(ngModel)]="outputType"
                inputId="outputCSV" (change)="onOutputTypeChange($event)" [disabled]="resourceType === 'both'" pTooltip="Exports records in a flattened format from JSON to CSV. (Only DAP or DMP)" tooltipPosition="top"></p-radioButton> &nbsp;
            <p-radioButton label="PDF" name="outputType" value="pdf" [(ngModel)]="outputType"
                inputId="outputPDF" (change)="onOutputTypeChange($event)" pTooltip="Exports a summary view combining both DAPs and DMPs in a PDF format" tooltipPosition="top"></p-radioButton> &nbsp;
            <br /><br />
            <button pButton (click)="onExportListClick()" [disabled]="!outputType">Export</button>
        </p-panel>
        <div class="">
            <div *ngIf="data$ | async as data">
            <p-table #recordsTable name="recordtable" [value]="data" [paginator]="true" height="100px" [rows]="1000"
                [scrollable]="true" [showCurrentPageReport]="true" [rowHover]="true" [columns]="selectedColumns"
                [scrollable]="true" scrollHeight="600px"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [globalFilterFields]="['name','owner','id','type','title','doi','file_count']"
                [sortField]="'modifiedDate'" [sortOrder]="-1"
                >
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th><button pButton  (click)="toggleSelectAll()">Select All</button></th>
                        <th pResizable pSortableColumn="">ID<p-sortIcon field="nist"></p-sortIcon></th>
                        <th pResizableColumn pSortableColumn="name">Record<p-sortIcon field="name"></p-sortIcon></th>
                        <th pResizableColumn pSortableColumn="owner">Name<p-sortIcon field="owner"></p-sortIcon></th>
                        <th pResizableColumn pSortableColumn="nist">Owner<p-sortIcon field="nist"></p-sortIcon>
                        <th pResizableColumn pSortableColumn="nist">Operating Unit Field<p-sortIcon field="orgid"></p-sortIcon>  
                        <th pResizableColumn pSortableColumn="nist">Title<p-sortIcon field="title"></p-sortIcon>     
                        <th pResizableColumn>
                            <p-columnFilter field="state" matchMode="equals" [showMenu]="false"
                                [showClearButton]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)"
                                        placeholder="State" [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            {{option.value}}
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th pResizableColumn pSortableColumn>Last Modified
                            <p-columnFilter title="Filter by date" type="date" field="modifiedDate" pSort
                                display="menu"></p-columnFilter>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-columns="columns">
                    <tr [ngClass]="{
                        'record-dap': item.rectype === 'dap',
                        'record-dmp': item.rectype === 'dmp'
                      }">
                        <td><input type="checkbox" [checked]="item.selected" (change)="toggleItemSelection(item.id)"></td>
                        <td><a href={{linkto(item.id,item.rectype)}} target="_blank">{{item.id}}</a></td>
                        <td>{{item.rectype}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.owner}}</td>
                        <td>{{item.orgid}}</td>
                        <td>{{item.title}}</td>
                        <td class="td-class"><p-tag [value]="item.state" [severity]="getStatus(item.state)"></p-tag>
                        </td>
                        <td class="td-class">{{this.datepipe.transform(item.modifiedDate,'MM/dd/yyyy')}}</td>
                            
                        <!--<td>{{item.data['@id']}}</td>
                            <td>{{item.data['title']}}</td>
                            <td>{{item.meta['resourceType']}}</td>-->
                    </tr>
                </ng-template>
            </p-table>
        </div>
        </div>
    </p-tabPanel>
</p-tabView>

<style>
.ui-calendar .ui-datepicker {
height : 200px !important;
}


.custom-radio-button {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Aligns items to the left */
}

.custom-radio-button p-radioButton {
    margin-right: 10px; /* Adjust spacing between radio buttons */
}

.custom-radio-button p-radioButton .p-radiobutton-label {
    margin-left: 5px; /* Space between the radio button and its label */
}

.custom-button {
    width: 15%;
    display: inline-flex; /* Use inline-flex to keep the button's inline behavior */
  align-items: center; /* Center align vertically */
  justify-content: center; /* Center align horizontally */
  gap: 5px; /* Optional: adds some space between the icon and the text */
}


.advanced-search-panel .ui-panel-titlebar {
  padding: 10px; /* Adjust padding as needed */
  margin-bottom: 20px; /* Adjust bottom margin as needed */
}

.custom-input-box {
    display: flex;
    flex-wrap: wrap;
    gap: 8px; /* Adjust the space between each field */
}

.custom-sub-input {
    display: flex;
    flex: 1 1 calc(50% - 20px); /* Two items per row with gap */
    align-items: center;
}

.custom-sub-input label {
    margin-bottom: 5px; /* Space between label and input */
    margin-right: 5px;
}

.custom-sub-input input,
.custom-sub-input p-autoComplete,
.custom-sub-input p-calendar {
    padding: 4px; /* Padding inside the input fields */
    border-radius: 4px; /* Rounded corners for the input fields */
}

/* Remove additional borders and padding from p-autoComplete and p-calendar */
.custom-sub-input p-autoComplete .ui-autocomplete,
.custom-sub-input p-calendar .ui-inputtext {
    border: none;
    padding: 0;
}

.custom-sub-input p-autoComplete .ui-autocomplete input,
.custom-sub-input p-calendar .ui-inputtext input {
    padding: 8px;
    border-radius: 4px;
}

/* Additional styling for responsiveness and aesthetics */
@media (max-width: 768px) {
    .custom-sub-input {
        flex: 1 1 100%; /* Full width on smaller screens */
    }
}
    </style>