.edi-list {
    display: block;
    background: rgb(173, 110, 110);
    border-radius: 10px;
    border: black;
    margin-top: 10px;
    max-height: 10px;
    overflow: auto;
}

.scroll {
    height: 300px;
    overflow-y: auto;
}