.edi-list {
    display: block;
    background: #fff;
    border-radius: 10px;
    border: black;
    padding: 0px 10px 0px 10px;
}

.scroll {
    height: 300px;
    overflow-y: auto;
}

.test { 
    float: right;
}